<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block metablock %}{% endblock %}
        {% block head %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block sidebar %}

        {% endblock %}
        {% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
        {% endblock %}
    </body>
</html> 


